<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <clear />
        <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\DjangoAPI\StockInventarios" />
        <add key="DJANGO_SETTINGS_MODULE" value="DjangoSQLrestAPI.settings" />
    </appSettings>
    
</configuration>
