<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="SI_Api" />
            <add name="SI_API" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\DjangoAPI\StockInventarios\myenv\Scripts\python.exe|C:\inetpub\wwwroot\DjangoAPI\StockInventarios\myenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <clear />
        <add key="WSGI_HANDLER" value="DjangoSQLrestAPI.wsgi.application" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\DjangoAPI\StockInventarios" />
        <add key="DJANGO_SETTINGS_MODULE" value="DjangoSQLrestAPI.settings" />
    </appSettings>
</configuration>
